{% assign author = site.owner %}
{% if page.author and site.data.authors and site.data.authors[page.author] %}
  {% assign author = site.data.authors[page.author] %}
{% endif %}

{% assign default_paths = site.html_pages | map: 'path' %}
{% assign page_paths = site.header_pages | default: default_paths %}

<div class="cover-card table-cell table-middle">
  {% if author.avatar %}
    <a href="{{ site.url }}/">
      <img src="{{ site.url }}/img/{{ author.avatar }}" alt="" class="avatar">
    </a>
  {% endif %}

  <a href="{{ site.url }}/" class="author_name">{{ author.name }}</a>
  <span class="author_job">{{ author.job }}</span>
  <span class="author_bio mbm">{{ author.bio }}</span>

  <nav class="nav">
    <ul class="nav-list">
      <li class="nav-item">
        <a href="{{ site.url }}/">home</a>
      </li>
      {% for path in page_paths %}
        {% assign my_page = site.pages | where: "path", path | first %}
        {% if my_page.title %}
          <li class="nav-item">
            <a href="{{ site.url }}{{ my_page.url }}">{{ my_page.title }}</a>
          </li>
        {% endif %}
      {% endfor %}

      {% if site.languages and site.languages.size > 1 %}
        {% for lang_code in site.languages %}
          {% assign lang_href = site.url | append: "/" %}
          {% if lang_code != site.default_lang %}
            {% assign lang_href = site.url | append: "/" | append: lang_code | append: "/" %}
          {% endif %}
          <li class="nav-item">
            <a {% static_href %}href="{{ lang_href }}"{% endstatic_href %}>{{ lang_code | upcase }}</a>
          </li>
        {% endfor %}
      {% endif %}
    </ul>
  </nav>

  <button id="theme-toggle" class="theme-toggle" type="button" aria-label="Toggle color mode">
    dark
  </button>

  {% include social-links.html %}
</div>
